{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}

{% block content %}
    <form action="/products/" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
    <div class="products">
        {% for product in products %}
            <div class="products_block">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img class="product_image"  src="/media/{{ product.image }}" alt="">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <h6 class="card-title">quantity: {{ product.quantity }}</h6>
                        <h6 class="card-title">price: {{ product.price }}</h6>
                        <p>
                            {% for hashtag in product.hashtags %}
                                {{ hashtag.title }}
                            {% endfor %}
                        </p>
                        <a href="/products/{{ product.id }}/" class="card-link">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/products/?page={{ page }}">
                <button class="page_button">{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}